* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 80px;
    flex-wrap: wrap;
}

.selos,
.metodo-pag h3 {
    text-align: center;
    margin-bottom: 10px;
}

.itens-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: #e0e4e4;
    padding: 20px;
}
.direitos p{
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}

@media screen and (max-width: 640px) {
    .itens-footer {
        flex-direction: column;
    }

    .logo,
    .metodo-pag,
    .selos {
        margin-top: 50px;
    }

    .logo img {
        width: 250px;
    }
}
